<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
<div class="container-fluid style" style="background-color: #F0FFFF;">
<!--JUMBOTRON TEST-->

  <div class="navbar" style="background-color: #e3f2fd;">
       <h1>
    <img src="https://www.pngitem.com/pimgs/m/381-3817082_rain-clipart-of-heavy-clip-art-free-transparent.png" alt="" width="60" height="48">
    RainGauge</h1>

  </div>
  <h5>Find the rainfall amount for any address in the world on any date</h5>
<br><br>

<!--JUMBOTRON TEST-->

{% block content %}

{%endblock%}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>